AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=noonhackathonstorage;AccountKey=1/D7K8rbJboGLcEy8duopvzx9h6eHQNZWRk7JsOzGffxAa8yKUJ7Ncm/ikY/ynRgpMuMxPR/PyjpxJI9FL6XHw==;EndpointSuffix=core.windows.net